.todoList {
    list-style: none;
    padding: 0;
  }
  
  .todoItem {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
    width: 30vw;
    cursor: pointer;
  }
  